extends ../../common/layout

block layout-content 
  .main-content 
    h1.page-title Skills
    nav.links
      a(href="/admin/skills/new") New
    ul#skills
      each skill in skills 
        li(id=`sklll-${skill._id}`)
          h2 
            a(href=`/admin/skills/${skill._id}`) #{skill.name} 